:root {
    --bg-color: #ebebeb;
    --inverted-bg-color: #2b2b2b;

    --primary-color: #bd7e2f;
    --secondary-color: #ffb255;
    --inverted-primary-color: #008080;
    --inverted-secondary-color: #3cbfbf;
}
